*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background:linear-gradient(135deg,#2f00ff,#2a1d64);
    color: #fff;
    width: 100%;
    min-height: 100vh;
    padding-top: 4%;
    padding-left: 1%;
    padding-bottom: 1px;
}
.contenedor h1{
    display: flex;
    align-items: center;
    font-size: 35px;
}
.contenedor img{
    width: 60px;
}
.contenedor button img{
    width: 30px;
    margin-right: 10px;
}
.contenedor button{
    background-color: #856cf4;
    color: #fff;
    display: flex;
    outline: none;
    border: none;
    padding: 10px 20px;
    align-items: center;
    border-radius: 40px;
    margin: 20px 0px 20px;
}
.contNotas{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
    gap: 10px;
}
.paraNotas{
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 310px;
    background: #fff;
    color: #333;
    border-radius: 5px;
    padding: 10px;
}
.paraNotas p{
    margin-bottom: 30px;
    outline: none;
}
.paraNotas img{
    width: 30px;
    position: absolute;
    cursor: pointer;
    bottom: 5px;
    right: 10px;
}
.vista{
    display: none;
}